 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <p>Hello! I graduated from Missouri S&T in Spring 2016 with a BS in Computer Science. I am interested in AI, games, and software development. I have spent much of my spare time working on my own video games and various coding projects, which are showcased in the portfolio section of this website. Go ahead and take a look!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://antonstrickland.me/downloads/resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>